[Unit]
Description=Xray Provisioning Agent
After=network-online.target xray.service
Wants=network-online.target xray.service

[Service]
User=root
Group=root
ExecStartPre=/usr/bin/systemctl try-restart xray
ExecStart=/usr/local/bin/xray-agent run --config /etc/xray-agent/config.yaml
Restart=always
RestartSec=3
NoNewPrivileges=yes
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
